 /* Fuente y ajustes globales */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to right, #4b6cb7, #182848); /* Gradiente azul */
    color: #fff;
    scroll-behavior: smooth;
}
.popup {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000; 
    color: azure

}

.popup-content {
    background-color: #182848;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}



header {
    border-bottom: 1px solid #ddd;
    background: linear-gradient(90deg, #4b6cb7, #182848);
    color: #fff;
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-weight: 600;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ddd;
}

section {
    padding: 60px 0;
    background: linear-gradient(to right, #4b6cb7, #182848); /* Gradiente azul */
    color: #fff;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
    font-weight: 600;
}

#about p {
    text-align: center;
    line-height: 1.6;
}
.hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.show {
    opacity: 1;
    transform: translateY(0);
}


.carousel {
    overflow: hidden;
    position: relative;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.project,
.testimonial {
    min-width: 100%;
    box-sizing: border-box;
}

#projects .project {background: linear-gradient(to right, #4b6cb7, #182848); /* Gradiente azul */
    color: #fff;
    display: flex;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

#projects .project img {
    width: 30%;
    object-fit: cover;
}

#projects .project-info {
    padding: 20px;
}

#projects h3 {
    margin-top: 0;
}
.texto1{
    background: linear-gradient(to right, #4b6cb7, #182848); /* Gradiente azul */
    color: #fff;
}

#testimonials {
    background: linear-gradient(to right, #4b6cb7, #182848); /* Gradiente azul */
    color: #fff;
}

#testimonials .testimonial {
    background: linear-gradient(to right, #4b6cb7, #182848); /* Gradiente azul */
    color: #fff;
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#testimonials p {
    font-style: italic;
}

#contact form,
#comment-form {
    display: flex;
    flex-direction: column;
}

#contact label,
#comment-form label {
    margin-bottom: 5px;
}

#contact input,
#contact textarea,
#comment-form input,
#comment-form textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 4px;
    font-size: 16px;
}

#contact button,
#comment-form button {
    background-color: #1248; /* Color de fondo del botón */
    color: #fff; /* Color del texto */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

#contact button:hover,
#comment-form button:hover {
    background-color: #fff;
    color:#248;
}

footer {
    background: linear-gradient(to right, #4b6cb7, #182848); /* Gradiente azul */
    color: #fff;
    border-top: 1px solid #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}
/* Estilos del contenedor */
.commitment-carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    align-items: center;
}

/* Estilos de los items del carrusel */
.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

.carousel-item i {
    font-size: 40px;
    margin-bottom: 10px;
    color: #fff; /* Color del icono */
}

/* Estilos de los controles del carrusel */
.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
/* Sección de Estadísticas */
.estadisticas {
    text-align: center;
    padding: 50px 20px;
    background-color: #f7f7f7; /* Cambia este color según el diseño de tu página */
  }
  
  .estadisticas h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #fff; /* Cambia este color según el diseño de tu página */
  }
  
  .estadisticas-contenedor {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .estadistica {
    margin: 20px;
    width: 30%;
  }
  
  .porcentaje-circular {
    position: relative;
    width: 140px;
    height: 140px;
    margin: 0 auto 20px;
  }
  
  .porcentaje-circular svg {
    position: relative;
    width: 140px;
    height: 140px;
    transform: rotate(-90deg);
  }
  
  .porcentaje-circular circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 12;
    stroke: #ddd; /* Color del fondo del círculo */
    stroke-dasharray: 377;
    stroke-dashoffset: 377;
  }
  
  .porcentaje-circular circle:nth-child(2) {
    stroke: #fff; /* Color del progreso del círculo */
    stroke-dashoffset: calc(377 - (377 * var(--valor)) / 100);
    transition: stroke-dashoffset 1s linear;
  }
  
  .numero-porcentaje {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #fff; /* Cambia este color según el diseño de tu página */
  }
  
  .numero {
    font-size: 2.5em;
    color: #fff; /* Cambia este color según el diseño de tu página */
  }
.estadisticas-contenedor{
    border-bottom: 1px solid #fff;
    border-radius: 6px;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #fff;
    color: #182848;

}
